<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Boramae HellChang</title>
    </head>
    <body>
        <h1>Boramae HellChang Login Page</h1>

        <form action="/auth" method="post">
            <input type="text" name="userID" />
            <input type="text" name="userPW" />
            <input type="submit" value="Login"/>
        </form>
    </body>
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            <script type="text/javascript">
                alert("{{messages[-1]}}");
            </script>
        {%endif%}
    {%endwith%}
</html>